[alias]

	# View abbreviated SHA, description, and history graph of the latest 20 commits.
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	# Show the user email for the current repository.
	whoami = config user.email

[apply]

	# Detect whitespace errors when applying a patch.
	whitespace = fix

[branch]

	# Show most recently changed branches first.
	sort = -committerdate

[core]

	# Use custom `.gitignore` and `.gitattributes`.
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

	# Treat spaces before tabs and all kinds of trailing whitespace as an error.
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace=fix,-indent-with-non-tab,space-before-tab,trailing-space,cr-at-eol

	# Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Git and the Umlaut problem on Mac OS X
	# Prevent showing files which filenames contains umlauts as untracked
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = true

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[diff]

	# Detect copies as well as renames.
	renames = copies

[diff]

	# Detect moved blocks of code and style them differently
	colorMoved = default

[diff "bin"]

	# Use `hexdump` to diff binary files.
	textconv = hexdump -v -C

[help]

	# Automatically correct and execute mistyped commands.
	autocorrect = 1

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

	# Get an error unless every merge is fast-forward. No merge commits, no 
	# joining together of two histories, just a smooth progression from commit
	# to commit.
	ff = only

[push]

	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[status]
	# Show all of the files underneath a new directory during a git status
	showUntrackedFiles = all 

[transfer]
	# Do some extra checks when receiving or sending changes
	fsckobjects = true

[mergetool]
	keepBackup = false

[init]

	defaultBranch = main

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[interactive]
	diffFilter = delta --diff-so-fancy

[delta]
	features = diff-so-fancy
	syntax-theme = Dracula
	whitespace-error-style = 22 reverse

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none

[delta "diff-so-fancy"]
	commit-style                  = bold yellow
	file-style                    = bold yellow
	hunk-header-style             = bold purple
	minus-style                   = red
	minus-non-emph-style          = red
	minus-emph-style              = bold red 52
	minus-empty-line-marker-style = normal "#3f0001"
	zero-style                    = normal
	plus-style                    = green
	plus-non-emph-style           = green
	plus-emph-style               = bold green 22
	plus-empty-line-marker-style  = normal "#002800"
	whitespace-error-style        = reverse 22
	true-color                    = true
	file-added-label              = 'added:'
	file-modified-label           = ''
	file-removed-label            = 'removed:'
	file-renamed-label            = 'renamed:'
	hyperlinks                    = false
	inspect-raw-lines             = true
	keep-plus-minus-markers       = false
	line-numbers                  = true
	line-numbers-minus-style      = 88
	line-numbers-zero-style       = "#444444"
	line-numbers-plus-style       = 28
	line-numbers-left-style       = blue
	line-numbers-right-style      = blue
	line-numbers-left-format      = '{nm:^4}⋮'
	line-numbers-right-format     = '{np:^4}│'
	max-line-distance             = 0.6
	max-line-length               = 512
	navigate                      = false
	navigate-regexp               =
	paging                        = auto
	side-by-side                  = false
	syntax-theme                  = Dracula
	width                         = 95
	tabs                          = 4
