[Desktop Entry]
Version=1.0
Name=Fastmail
Comment=Fastmail
Exec=omarchy-launch-webapp https://app.fastmail.com/mail/
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/applications/icons/Fastmail.png
StartupNotify=true
